<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Item</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <br>
    <form action="/users/<%= user._id %>/foods/<%= item._id %>?_method=PUT" method="POST">
        <label for="name">Name</label>
        <input value="<%= item.name %>" type="text" id="name" name="name" />
        <button type="submit">Update</button>
    </form>
</body>
</html>